.navbar-nav {
    background-color: black;
}

.image {
    display:block !important;
    margin:auto !important;
}

.breadcrumb > li + li:before {
    display: none !important;
}

.readonly {
    background-color: white !important;
}

.bg-muted {
    background-color: #e7e7e7;
}

.text-golden {
    color: goldenrod;
}

.text-golden:hover {
    color: gray;
}

.dropdown-active {
    background-color: goldenrod !important;
}

.badge-golden {
    background-color: goldenrod !important;
}

.readonly {
    background-color: white;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }